# @bym scoped packages come from the internal registry.
@bym:registry=https://tfs.briefyourmarket.com/BYM2020/_packaging/BYMNPM/npm/registry/
@bym:always-auth=true

# @nurtur scoped packages come from the internal registry.
@nurtur:registry=https://tfs.briefyourmarket.com/BYM2020/_packaging/BYMNPM/npm/registry/
@nurtur:always-auth=true

# @nurtur scoped packages come from the internal registry.
@nurtur-emaileditor:registry=https://tfs.briefyourmarket.com/BYM2020/_packaging/BYMNPM/npm/registry/
@nurtur-emaileditor:always-auth=true

# Requirement to use fortawesome package. Contains auth token for BYM pro license
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=CCE13C54-C085-4316-84ED-1C99F33FA3A8

link-workspace-packages = true
prefer-workspace-packages = true
recursive-install = true
