<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<%@ master language="C#" autoeventwireup="true" codebehind="MasterPage.master.cs"
    inherits="Jwayela.BriefYourMarket.Public.DefaultMasterPage" %>

<%@ register src="Controls/ArticleCategories.ascx" tagname="ArticleCategories" tagprefix="uc1" %>

<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="ROBOTS" content="index,follow" />
    <meta name="AUTHOR" content="briefyourmarket.com" />
    <meta name="viewport" content="width=device-width" />

    <!--Favicon-->
    <link rel="shortcut icon" href="/Management/Images/bym2/Metro/favicon.png" type="image/x-icon" />
    <link rel="icon" href="/Management/Images/bym2/Metro/favicon.png" type="image/ico" />

    <link rel="shortcut icon" href="briefyourmarket.ico" />
	<script src="/Scripts/jquery-1.7.1.js"></script>
	<script src="/Scripts/jquery.fittext.js"></script>
	<script type="text/javascript">
        var jQuerySA = $.noConflict(true);
        var jQuerySA = $.noConflict(true);
	</script>
    <script src="https://use.fontawesome.com/b3129e2657.js"></script>
    <link rel='stylesheet' href='https://goodrichestates.briefyourmarket.com/Documents/css/essential-social-share.css' type='text/css' media='all' />
<link rel='stylesheet'  href='https://goodrichestates.briefyourmarket.com/Documents/css/foundation.css' type='text/css' media='all' />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js?ver=2.1.0'></script>


{{{W-ResponsiveSurveyBrandSettings.master}}}

{{{BYMSurveyRebrandCSS1.master}}}

<style type="text/css">
  #aspnetForm {
    margin:0 !important;
  }
  form {
    width: 100% !important;
    border: 0 !important;
  }
  .newsletterTitle {
    display:none;
  }
  .BYMmaincontent {
    padding: 0 30px 20px 30px !important;
    background-color: #ffffff !important;
  }
  .b2b-container {
    width:620px;
    margin:auto;
  }
  .grid-container {
    background-color:#ffffff !important;
    margin-bottom:60px;
  }
  .surveyFormHolder {
    padding:0 !important;
  }
  .question {
    margin-bottom:20px;
  }

  .question div {
    margin:0;
  }
  .surveyItemTitle {
    font-size:18px !important;
  }
  .surveyRatingRadioButtonLabel {
    font-size:18px !important;
  }
  @media only screen and (max-width: 850px) {
    .b2b-container {
    width:100%;
    margin:auto;
    
  }
  .survey-splash img {
    width:100%;
  }
  }
</style>


</head>
<body style="background-color:#efefef;">




    <%-- HEADER --%>
<div class="b2b-container">
<div class="grid-container">

    <header class="fixed" style="background-color:<%=headerBackground%>; font-family:<%=fontfamily%>;">

      <div class="section group">
            {{{W-SurveyHeaderOneColumn.master}}}
            <div class="survey-splash">
        <img src="https://campaign.briefyourmarket.com/images/issy_e/thank_you_bnner_s1_c0_0_620_300_o620_300_e.gif"/>
      </div>
		  </div>
		
	</header>





    <%-- FORM --%>
	
	<content>
		<div class="section group surveyFormHolder" style="padding-top:75px; padding-bottom:30px; font-family:<%=fontfamily%>;">
			<div class="col span_4_of_4">
                <div class="paddingVertical35">
                    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                    <!-- //// BYM Main Content Area  \\\\ -->
                    <!--Main Content for SURVEY -->
                    <br /><form id="BYMSurveyForm" runat="server">
                    <asp:scriptmanager runat="server" id="ScriptManager" />
                    <div class="BYMmaincontent" style="color:<%=mainTextColour%>">
                        <asp:contentplaceholder id="MainContentHolder" runat="server"></asp:contentplaceholder>
                    
                        <!--POWERED BY FOOTER -->
                    </div>
                    </form>
                    <br />

                    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                    <!-- end of text-box -->
                    <!-- end of text-container -->
                </div> 
			</div>	
        </div>
	</content>
	
</div>
  </div>

    <style type="text/css">

/* STYLES THAT USE BRAND SETTINGS*/

    form {
  width: 60%;
  margin: 0 auto;
  overflow: auto;
  border-top: 5px solid <%=surveyBtnColour%>;
  margin-top: 200px;
  background: rgba<%=survey1BgColour%>;
}

    input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  border: 2px solid #333333;
  border-radius: 50%;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  height: 30px !important;
  width: 30px !important;
  cursor:pointer;
}

    input[type=radio]:checked {
  background: <%=surveyBtnColour%>;
  z-index: 100;
  border: none;
}

input[type=radio]:checked+label {
  color: <%=surveyBtnColour%>;
}

input[type=checkbox]:checked {
  background: <%=surveyBtnColour%>;
  z-index: 100;
  border: none;
}

input[type=checkbox]:checked+label {
  color: <%=surveyBtnColour%>;
}

input[type=text], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border: 1px solid <%=surveyBtnColour%>50;
  width: 100%;
  min-height: 30px;
  font-family: <%=fontFamily%>;
  margin-top:10px;

}

input[type=submit] {
  color: #ffffff;
  background-color: <%=surveyBtnColour%>;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  min-height: 30px;
  cursor: pointer;
  width: 100%;
  font-family: <%=fontFamily%>;
  position: relative;
  width: 200px;
  float: center;
  margin-left: 50px;
  border-radius:8px;
}

input[type=submit]:after{ 
   content: '\f138';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;
   color: <%=surveyBtnColour%>;
} 

.surveyRatingOptionDiv {
    margin: 15px 0 0 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.question {
    overflow: auto;
}
  
</style>

<script>
        jQuerySA('.newsletterTitle').css("color", "<%=mainTitlesColour%>");
        jQuerySA('.surveyItemTitle').css("color", "<%=mainTitlesColour%>");
</script>

</body>
</html>